*
*.*
/*

!.gitignore
!Module1.vhd
!nios_system.qsys
!\software\Project_1_Code\Headers\*
!\software\Project_1_Code\Source\*
!\software\Project_1_Code\entryPoint.c
!software/Project_1_Code/Headers/*
!software/Project_1_Code/Source/*